.main{
    width: 100%;
    font-family: 'Khmer OS Content', sans-serif;
}
.header{
    width: 100%;
    height: 9vh;
    background-color: rgb(152, 179, 203);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}
.create{
    margin-right: 30px;
}
.btn{
    font-family: 'Khmer OS', sans-serif;
    font-size: 16px;
}