/* .ant-table-tbody{
    max-height: 100%;
    overflow-y: scroll;
    background-color: yellow;
} */

/* .ant-table-wrapper {
    height: 100%;
    overflow: hidden;
  
    .ant-spin-nested-loading {
      height: 100%;
  
      .ant-spin-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          
          .ant-table {
              max-height: 90%;
              overflow: auto;
          }
      }
    }
  } */