.ant-table-cell{
    font-size: 13px;
    font-family: 'Khmer OS Content', sans-serif;
}
.ant-table-row{
    font-family: 'Times New Roman', Times, serif
}
.ant-modal-content{
    font-family: 'Khmer OS Content', sans-serif;
}
.ant-radio-wrapper span{
    font-family: 'Khmer OS Content', sans-serif;
}